@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<h1 class="display-4">Welcome</h1>

<p>Learn about <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-6.0"</a> building Web apps with APS.NET Core.</p>
</div>